# --- CREDENCIAIS DE SERVIÇOS (Personalizar com as suas) ---
GEMINI_API_KEY="YOUR_SECRET"
MONGO_CONNECTION_STRING="YOUR_SECRET_STRING"
TWILIO_ACCOUNT_SID="YOUR_SECRET"
TWILIO_AUTH_TOKEN="YOUR_SECRET"


# --- CONFIGURAÇÕES DO N8N ---

N8N_BASIC_AUTH_ACTIVE=true
N8N_BASIC_AUTH_USER="TESTER"
N8N_BASIC_AUTH_PASSWORD="TESTERPASS"
N8N_HOST=${N8N_HOST:-localhost}
N8N_PORT=5678
N8N_PROTOCOL=http
N8N_EDITOR_BASE_URL=http://${N8N_HOST:-localhost}:9000/

# --- Configurações de Cache Redis (Para n8n ou Backend que o utiliza) ---

# Ativa o cache Redis
CACHE_REDIS_ENABLED=true
# URI de conexão: ATUALIZADO para usar o banco de dados /1 (diferente do banco /0 usado pelo nó do workflow)
CACHE_REDIS_URI=redis://sistd-redis:6379/1
# Tempo de vida (TTL) do cache em segundos (604800 segundos = 7 dias)
CACHE_REDIS_TTL=604800
# Prefixo para as chaves no Redis
CACHE_REDIS_PREFIX_KEY=twilio-workflow
# Se habilitar, salva informações de conexão no Redis em vez de no BD (manter 'false' se não tiver certeza)
CACHE_REDIS_SAVE_INSTANCES=false
# Desativa o cache local se o Redis estiver ativo
CACHE_LOCAL_ENABLED=false