# api-backend/.env.api

# Credenciais do MongoDB
MONGO_CONNECTION_STRING="YOUR_SECRET_STRING"
MONGO_DB_NAME=CodeParfum
MONGO_COLLECTION_NAME=Ciclo

# Porta que o Express.js irá escutar DENTRO do container
PORT=3002